.center-editorial {
    display: flex;
    justify-content: center;
}

.editorial-content {
    margin: 10% 20% 20% 20%;
    position: relative;
    width: 800px;
    font-size: 20px;
    font-family: 'Crimson Pro', serif;
}

.editorial-title {
    font-weight: 600;
    font-size: 40px;
    font-family: 'Merriweather', serif;
}

.editorial-subtitle {
    font-weight: 100;
    font-size: 25px;
}

.editorial-content > img {
 width: 100%;
 height: auto;
}

.img-text{
    margin-top: -2px;
    color: grey;
    font-size: 16px;
    font-weight: 600;
}

.img-src {
    color: #98b2a1;
}

.editorial-author {
    font-weight: 600;
}

.date-share{
    display: flex;
    justify-content: space-between;
}

.bold {
    font-weight: 600;
}

.editorial-article {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}