.wrapper {
  margin-bottom: 150px;
}

.navMargin {
  margin-left: 10%;
  margin-right: 10%;
}

.featured-editorial {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
}

.featured-videos {
  margin-top: 100px;
}

.featured-voices {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
  height: 500px;
}

.featured-news {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 100px;
  height: 1000px;
}


/* STYLING TO SET FOOTER POSITION*/
.main-content {
  position: relative;
  min-height: 100vh;
}

#content-wrapper {
  padding-bottom: 400px; 
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400px;  
}