.strongMessage {
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.stronMessageTitle {
  letter-spacing: 1px;
}

.strongMessage h2 {
  /* margin-top: 10%; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.videoViewer{
  height: 100vh;
  width: auto;
  margin-bottom: 150px;
}

.videoNav {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  width: 100%;
  height: 50px;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
  z-index: 1;
}

.videoNav li{
  margin: auto 20px; 
  font-weight: 600;
}

.player-wrapper {
  position: relative;
  /* padding-top: 56.25%;  */
  /* Player ratio: 100 / (1280 / 720) */
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

#videoImage {
  z-index: 1;
  height: 93vh;
  width: auto;
}

.hide {
  display: none;
  z-index: -10;
}

#hiddenVid {
  visibility: none;
}